<h1>API PATHS:</h1>
<ul>
  <li>
    <p>All Profiles, with nested gitstamps: /api/profiles</p>
  </li>
  <li>
    <p>One profile, with nested gitstamps: /api/profiles/id</p>
  </li>
  <li>
    <p>All gitstamps, belonging to a specific profile: /api/profiles/id/gitstamps</p>
  </li>
  <li>
    <p>All gitstamps, shown with its owner profile: /api/gitstamps</p>
  </li>
  <li>
    <p>One gitstamp, shown with its owner profile: /api/gitstamps/id</p>
  </li>
</ul>
